@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
	--shadow: #3d3d3d;
}

* {
	font-family: 'Ubuntu';
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

nav {
	background: #000;
	width: 100%;
	height: 75px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	box-shadow: var(--shadow) 1px 5px 15px;
}

nav ul li a {
	margin-right: 25px;
	text-decoration: none;
}

nav ul li a:hover {
	height: 100%;
	color: crimson;
}

nav ul li a {
	color: #fafafa;
}

ul li {
	display: inline;
}

.content {
	min-width: 100%;
	min-height: 100%;
	height: 150%;
	width: 100%;
	background: chartreuse;
	margin-top: 75px;
}

section {
	height: 30%;
	background: cornflowerblue;
}

footer {
	width: 100%;
	height: 100px;
	background: coral;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #ffffff;
}

nav img {
	margin-left: 25px;
	height: 50px;
}
